{% extends "layout.html" %}
{% block content %}
<h1 style="text-align:center">Online PyCompiler</h1>
<div style="font-family:'Courier New'">
    <form action="" method="post">
        {% csrf_token %}
<!--        <div class="form-row">-->
<!--          <div class="col-4 col-md-1"><label for="lang">Language</label></div>-->
<!--          <div class="col-6 col-md-2">-->
<!--              <select id="lang" name="lang" class="form-control" required>-->
<!--                  {% if not lang %}-->
<!--                    <option value="" disabled selected hidden>Choose</option>-->
<!--                  {% endif %}-->
<!--                  {% for l in langs %}-->
<!--                    {% if l == lang %}-->
<!--                        <option value="{{ l }}" selected>{{ l }}</option>-->
<!--                    {% else %}-->
<!--                        <option value="{{ l }}">{{ l }}</option>-->
<!--                    {% endif %}-->
<!--                  {% endfor %}-->
<!--              </select>-->
<!--          </div>-->
<!--        </div>-->
        <div class="form-group mt-3">
<!--            <label for="codearea">Code Area</label>-->
            <textarea style="resize:none;" class="form-control" id="codearea" name="codearea" placeholder="# Enter code here"
                      rows="10" required>{{ code }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Execute</button>
        <div class="form-group mt-3">
            <label for="output">Output</label>
            <textarea style="resize:none;background:white;" class="form-control" id="output" name="codearea" placeholder=""
                      rows="7" disabled>{{ output }}</textarea>
        </div>
    </form>
</div>
{% endblock %}